@keyframes jello-horizontal {

  0%,
  to {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.emphome-child {
  position: absolute;
  top: 17px;
  left: 350px;
  border-radius: var(--br-11xl);
  width: 1065px;
  height: 1055px;
  user-select: none;
  transform: scaleY(1.07); /* added transform property to increase width */

}

.name {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}

.tomiwa-oyeledu-dolapo {
  position: relative;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
  width: 240px;
}

.instance-parent,
.name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}

.instance-parent {
  position: absolute;
  top: 57px;
  left: 0;
  gap: var(--gap-xl);
}

.guardian-details {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--primary-crypto);
  opacity: 0.8;
  user-select: none;
}

.guardian-emp {
  top: 708px;
  left: 679px;
  width: 172px;
  height: 268px;
}

.date-of-join,
.guardian-emp,
.salary-emp {
  position: absolute;
  user-select: none;
}

.salary-emp {
  top: 708px;
  left: 1035px;
  width: 140px;
  height: 191px;
}

.date-of-join {
  cursor: pointer;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 114px;
  opacity: 0.5;
}

.tomiwa-oyeledu-dolapo5 {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
}

.valid-till {
  cursor: pointer;
  position: absolute;
  top: 89px;
  left: 1px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 113px;
  opacity: 0.5;
  user-select: none;
}

.tomiwa-oyeledu-dolapo6 {
  position: absolute;
  top: 120px;
  left: 0;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
}

.add-emp,
.date-of-join-parent {
  position: absolute;
  top: 50px;
  left: 0;
  width: 114px;
  height: 147px;
}

.add-emp {
  top: 502px;
  left: 1035px;
  width: 181px;
  height: 197px;
  user-select: none;
}

.name5 {
  cursor: pointer;
  top: 0;
  letter-spacing: 0.01em;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}

.name5,
.name6,
.span {
  position: absolute;
  left: 0;
}

.span {
  top: 46px;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
}

.name6 {
  cursor: pointer;
  top: 93px;
  letter-spacing: 0.01em;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}

.tomiwa-oyeledu-dolapo7 {
  position: absolute;
  top: 122px;
  left: 0;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
}

.contact-emp,
.name-parent2 {
  position: absolute;
  top: 45px;
  left: 0;
  width: 169px;
  height: 149px;
}

.contact-emp {
  top: 505px;
  left: 679px;
  height: 194px;
  user-select: none;
}

.name-parent3 {
  position: absolute;
  top: 48.5px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.address-emp {
  position: absolute;
  top: 505px;
  left: 387px;
  width: 208px;
  height: 349.5px;
  user-select: none;
}

.name-parent7 {
  position: absolute;
  top: 146px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}

.tomiwa-oyeledu-dolapo13 {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: var(--internal-tool-subheading-size);
  font-weight: 500;
}

.name-parent8 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 56px;
  height: 57px;
}

.dask-info-emp,
.personal-details-emp-child {
  position: absolute;
  top: 95px;
  left: 1035px;
  width: 123px;
  height: 203px;
  user-select: none;
}

.personal-details-emp-child {
  top: 31px;
  left: -25px;
  border-radius: var(--br-11xl);
  width: 308px;
  height: 375px;
}

.instance-group {
  position: absolute;
  top: 69.5px;
  left: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.personal-details-emp {
  position: absolute;
  top: 95px;
  left: 387px;
  width: 514px;
  height: 376px;
  user-select: none;
}

.vector-icon2 {
  position: absolute;
  top: 2.67px;
  left: -4px;
  width: 18px;
  height: 18px;
}

.notifications,
.notifications1 {
  cursor: pointer;
  position: absolute;
}

.notifications1 {
  top: -0.33px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--poppins-heading);
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 117px;
}

.notifications1:hover {
  font-weight: 600;
  font-family: var(--poppins-heading);
}

.notifications1:active {
  color: var(--primary-crypto);
}

.notifications {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 827.33px;
  left: 68px;
  width: 177px;
  height: 23px;
  user-select: none;
}

.vector-icon3 {
  position: absolute;
  height: 86.96%;
  width: 11.63%;
  top: 4.35%;
  right: 88.37%;
  bottom: 8.7%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.attendance {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 753px;
  left: 64px;
  width: 172px;
  height: 23px;
  user-select: none;
}

.finances1,
.finances1:hover {
  font-family: var(--poppins-heading);
}

.finances1 {
  cursor: pointer;
  position: absolute;
  top: -0.33px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 80px;
}

.finances1:hover {
  font-weight: 600;
}

.finances1:active {
  color: var(--primary-crypto);
}

.vector-icon4 {
  position: absolute;
  height: 86.96%;
  width: 17.91%;
  top: 2.91%;
  right: 85.07%;
  bottom: 10.13%;
  left: -2.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.employee-enrollment,
.finances {
  cursor: pointer;
  position: absolute;
}

.finances {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 677.33px;
  left: 68px;
  width: 134px;
  height: 23px;
  user-select: none;
}

.employee-enrollment {
  top: 0.67px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--poppins-heading);
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 170px;
}

.employee-enrollment:hover {
  font-weight: 600;
  font-family: var(--poppins-heading);
}

.employee-enrollment:active {
  color: var(--primary-crypto);
}

.vector-icon5 {
  position: absolute;
  height: 92.31%;
  width: 12.04%;
  top: 2.58%;
  right: 89.74%;
  bottom: 5.12%;
  left: -1.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.emp-enroll {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 599.33px;
  left: 68px;
  width: 225px;
  height: 26px;
  user-select: none;
}

.employee1,
.employee1:hover {
  font-family: var(--poppins-heading);
}

.employee1 {
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 117px;
}

.employee1:hover {
  font-weight: 600;
}

.employee1:active {
  color: var(--primary-crypto);
}

.employee-child {
  position: absolute;
  height: 100%;
  width: 12.57%;
  top: -0.04%;
  right: 89.71%;
  bottom: 0.04%;
  left: -2.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.employee,
.rooms1 {
  cursor: pointer;
  position: absolute;
}

.employee {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 522.01px;
  left: 68px;
  width: 175px;
  height: 25.32px;
  user-select: none;
}

.rooms1 {
  top: 1.99px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 55px;
}

.rooms1,
.rooms1:active,
.rooms1:hover {
  font-family: var(--poppins-heading);
}

.rooms1:hover {
  font-weight: 600;
}

.rooms1:active {
  color: var(--primary-crypto);
}

.rooms-child {
  position: absolute;
  height: 99.31%;
  width: 21.93%;
  top: -0.04%;
  right: 81.58%;
  bottom: 0.73%;
  left: -3.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.hostelite-enrollment,
.rooms {
  cursor: pointer;
  position: absolute;
}

.rooms {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 444.01px;
  left: 68px;
  width: 114px;
  height: 26px;
  user-select: none;
}

.hostelite-enrollment {
  top: 0.99px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--poppins-heading);
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 161px;
}

.hostelite-enrollment:hover {
  font-weight: 600;
  font-family: var(--poppins-heading);
}

.hostelite-enrollment:active {
  color: var(--primary-crypto);
}

.vector-icon6 {
  position: absolute;
  height: 92.31%;
  width: 12.04%;
  top: -0.04%;
  right: 89.81%;
  bottom: 7.73%;
  left: -1.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.hostelite-enroll,
.hostelite1 {
  cursor: pointer;
  position: absolute;
}

.hostelite-enroll {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 366.01px;
  left: 68px;
  width: 216px;
  height: 26px;
  user-select: none;
}

.hostelite1 {
  top: 1px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 103px;
}

.hostelite1:hover {
  font-weight: 600;
}

.hostelite1,
.hostelite1:active,
.hostelite1:hover {
  font-family: var(--poppins-heading);
}

.hostelite1:active {
  color: var(--primary-crypto);
}

.hostelite-child {
  position: absolute;
  height: 100%;
  width: 13.58%;
  top: 0;
  right: 88.89%;
  bottom: 0;
  left: -2.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.hostelite {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 289px;
  left: 68px;
  width: 162px;
  height: 25px;
  user-select: none;
}

.requests1,
.requests1:hover {
  font-family: var(--poppins-heading);
}

.requests1 {
  position: absolute;
  top: 1px;
  left: 55px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 173px;
  cursor: pointer;
  user-select: none;
}

.requests1:hover {
  font-weight: 600;
}

.requests1:active {
  color: var(--primary-crypto);
}

.icon-tasks {
  position: absolute;
  height: 100%;
  width: 10.48%;
  top: 0;
  right: 91.27%;
  bottom: 0;
  left: -1.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.requests {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 213px;
  left: 68px;
  width: 229px;
  height: 24px;
}

.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--primary-crypto);
  width: 288px;
  height: 52px;
  opacity: 0.1;
}

.icon-home,
.vector-icon7 {
  position: absolute;
  height: 46.15%;
  width: 8.33%;
  top: 26.92%;
  right: 80.21%;
  bottom: 26.92%;
  left: 11.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon7 {
  height: 23.08%;
  width: 2.57%;
  top: 42.31%;
  right: 7.29%;
  bottom: 34.62%;
  left: 90.14%;
}

.home1,
.home2 {
  cursor: pointer;
  position: absolute;
}

.home2 {
  top: 14px;
  left: 92px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--poppins-heading);
  color: var(--primary-crypto);
  text-align: left;
  display: inline-block;
  width: 69px;
}

.home1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 109px;
  left: 31px;
  width: 288px;
  height: 52px;
}

.account-officer-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 57px;
  opacity: 1;
  user-select: none;
}

.account-officer-child.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}

.anna-george,
.customer-operations {
  position: relative;
  letter-spacing: 0.01em;
}

.anna-george {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.customer-operations {
  font-size: var(--font-size-2xs);
  color: var(--black);
}

.anna-george-parent {
  position: absolute;
  top: 4.5px;
  left: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}

.account-officer {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  width: 201px;
  height: 57px;
}

.vector-icon8 {
  position: absolute;
  height: 46.15%;
  width: 15.89%;
  top: 30.77%;
  right: 64.24%;
  bottom: 23.08%;
  left: 19.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.logout2 {
  position: absolute;
  top: 14px;
  left: 69.46px;
  font-size: var(--poppins-size);
  letter-spacing: 0.01em;
  font-family: var(--poppins-heading);
  color: var(--secondary-crypto);
  text-align: left;
  opacity: 0.9;
}

.logout-child,
.logout1 {
  position: absolute;
  width: 151px;
  height: 52px;
}

.logout-child {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--primary-crypto);
  opacity: 0.1;
}

.logout-child:hover {
  background-color: var(--color-olivedrab);
}

.logout1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 941px;
  left: 99px;
}

.menu-emp {
  position: absolute;
  top: 50px;
  left: 0;
  width: 350px;
  height: 963px;
  font-size: var(--internal-tool-subheading-size);
  color: var(--secondary-crypto);
}

.emphome {
  position: relative;
  background-color: var(--internal-tool-background);
  width: 100%;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--poppins-size);
  color: var(--black);
  font-family: var(--poppins-heading);
}

.do-you-want {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: inherit;
  user-select: none;
}

.do-you-want-to-logout {
  position: absolute;
  top: 61px;
  left: 170px;
  width: 392px;
  height: 48px;
}

.make-payment {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--font-work-sans);
  color: var(--primary-crypto);
  text-align: left;
}

.make-payment-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-41xl);
  background-color: var(--base-white);
  position: absolute;
  top: 228px;
  left: 86px;
  border-radius: var(--br-91xl);
  width: 240px;
  height: 57px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.make-payment1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--font-work-sans);
  color: var(--base-white);
  text-align: left;
}

.make-payment-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-41xl);
  background-color: var(--primary-crypto);
  position: absolute;
  top: 228px;
  left: 425px;
  border-radius: var(--br-91xl);
  width: 240px;
  height: 57px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.logout {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--internal-tool-background);
  width: 751px;
  height: 345px;
  overflow: hidden;
  opacity: 1;
  user-select: none;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--poppins-heading-size);
  color: var(--primary-crypto);
  font-family: var(--poppins-heading);
}

.logout.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}