.welcome-back {
  position: absolute;
  top: 223px;
  left: 187px;
  line-height: 20px;
}
.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  user-select: none;
}
.input {
  border: 1px solid var(--gray-300);
  font-family: var(--text-md-semibold);
  font-size: var(--text-md-semibold-size);
  background-color: var(--base-white);
  border-radius: var(--br-5xs);
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  width: 352px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.label-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.input1,
.label-group,
.label-parent {
  display: flex;
  justify-content: flex-start;
}
.input1 {
  border: 1px solid var(--gray-300);
  background-color: var(--base-white);
  border-radius: var(--br-5xs);
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  width: 352px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  user-select: none;
}
.label-group {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.text4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--text-md-semibold);
  color: var(--color-mediumaquamarine-100);
  text-align: left;
  display: inline-block;
}
.text4:hover {
  color: var(--color-gray-500);
  user-select: none;
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  user-select: none;
}
.text5 {
  position: relative;
  font-size: var(--text-md-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--text-md-semibold);
  color: var(--base-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 1px solid var(--primary-600);
  padding: var(--padding-3xs) var(--padding-lg);
  background-color: var(--color-mediumaquamarine);
  border-radius: var(--br-5xs);
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  width: 352px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--color-mediumaquamarine);
}
.frame-group {
  position: absolute;
  top: 308px;
  left: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  user-select: none;
  text-align: left;
  font-size: var(--text-sm-semibold-size);
  color: var(--color-slategray-100);
}

.dak-icon4,
.login-child {
  position: absolute;
  overflow: hidden;

}

.dak-icon4 {
  width: 19.79%;
  top: calc(50% - 439.5px);
  right: 65.76%;
  left: 14.44%;
  max-width: 100%;
  height: 117px;
}

.login-child {
  top: 0;
  left: 770px;
  width: 720px;
  height: 961px;
  user-select: none;
  transform: scaleX(1.1);

}
.clip-virtual-reality-icon,
.path-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-virtual-reality-icon {
  height: 75.75%;
  width: 38.82%;
  top: 4.99%;
  right: 6.88%;
  bottom: 19.25%;
  left: 54.31%;
  user-select: none;
}
.path-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.path-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 52.46px;
  left: 36.75px;
  width: 12.53px;
  height: 25.04px;
}
.login4 {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  height: 961px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--colors-black-100);
  font-family: var(--text-md-semibold);
}
